@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Oswald);

html {
  box-sizing: border-box;
  overflow: auto;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
h1{
  font-weight: bold;
  text-align: center;
}

.home {
    text-align: center;
    color: black;
    height: 200px;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .parallax {
    /* The image used */
    background-image: url("photos/Utah performing arts/fireproofing/20161007_195340.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
  /* The image used */
  background-image: url("photos/Utah performing arts/Intumescent paint/2015-07-23 09.25.35.jpg");

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url("http://www.riseandshinegroup.com/home/uploads/spraycontec2.jpg");

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin-top: 50px;
}

.fireproofing{
  margin-top: 50px;
}
