<div class="text"><h3>Elizabeth Academy</h3><p>Monoglass work done at Elizabeth Academy,  Salt Lake City, Utah.</p>
</div>

<div class="flexbox">
<div class="flex"><a href="photos/elizabethacademymonoglassphotos/2013-07-12 11.11.05.jpg">
  <img src="photos/elizabethacademymonoglassphotos/2013-07-12 11.11.05.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/elizabethacademymonoglassphotos/2013-07-12 11.11.34.jpg">
  <img src="photos/elizabethacademymonoglassphotos/2013-07-12 11.11.34.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/elizabethacademymonoglassphotos/2013-07-12 11.14.25.jpg">
  <img src="photos/elizabethacademymonoglassphotos/2013-07-12 11.14.25.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/elizabethacademymonoglassphotos/2013-07-12 11.14.34.jpg">
  <img src="photos/elizabethacademymonoglassphotos/2013-07-12 11.14.34.jpg"/>
</a>
</div>
</div>
