
<div class="parallax">
  <div class="caption">
    <span class="border">Intumescent Paint Specialists</span>
  </div>
  </div>
<div class="text">
  <p>Here at Spray-on Solutions, we install fibrous and cementitious fireproofing, intumescent paint, and sprayed on acoustic insulation. When it comes to products, we only use the best of the best. Some of which include: Blaze Shield II, Blaze Shield HP, Cafco 300, Cafco 400, Fendolite MII, Isolatek, Monokote, Cafco board, Spray film, WB3, WB4, WB5, Monoglass, K13. Our fireproofing products meet all requirements established by national and local building codes and have proven to be highly effective.</p>
</div>
<div class="flexbox">
  <div class="flex"><a ui-sref="fireproofing">
    <figure><img src="photos/Utah performing arts/fireproofing/20161007_194346.jpg"/><p>Fire Proofing Services</p>
    </figure>
  </a>
</div>
  <div class="flex"><a ui-sref="intumescent">
    <figure><img src="photos/jvhospital/20141020_134908.jpg"/><p>Intumescent Paint</p>
    </figure>
  </a>
</div>
  <div class="flex"><a ui-sref="insulation">
    <figure><img src="photos/livingplanetaquarium/2014-03-17 17.45.37.jpg"/><p>Acoustical Insulation</p>
    </figure>
  </a>
</div>
  <div class="flex"><a ui-sref="portfolio">
    <figure><img src="photos/livingplanetaquarium/2014-03-17 18.43.30.jpg"/><p>Our Work</p>
    </figure>
  </a>
</div>
  <div class="flex"><a ui-sref="contact">
    <figure><img src="photos/jvhospital/2015-06-03 11.16.52.jpg"/><p>Contact Us</p>
    </figure>
  </a>
</div>
</div>
