<div class="text"><h3>Jordan Valley Medical Center</h3><p>Fire proofing and Intumescent spray work for Jordan Valley Medical Center, West Valley City, Utah.</p>
</div>

<div class="flexbox">
<div class="flex"><a href="photos/jvhospital/2015-06-03 11.16.52.jpg">
  <img src="photos/jvhospital/2015-06-03 11.16.52.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/jvhospital/2015-06-03 11.19.17.jpg">
  <img src="photos/jvhospital/2015-06-03 11.19.17.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/jvhospital/2015-06-03 11.19.55-1.jpg">
  <img src="photos/jvhospital/2015-06-03 11.19.55-1.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/jvhospital/20141020_134741.jpg">
  <img src="photos/jvhospital/20141020_134741.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/jvhospital/20141020_134908.jpg">
  <img src="photos/jvhospital/20141020_134908.jpg"/>
</a>
</div>
</div>
