<div class="text"><h3>Living Planet Aquarium</h3><p>Fire proofing and Intumescent spray work for Living Planet Aquarium, Draper, Utah.</p>
</div>

<div class="flexbox">
<div class="flex"><a href="photos/livingplanetaquarium/2014-03-17 17.45.37.jpg">
  <img src="photos/livingplanetaquarium/2014-03-17 17.45.37.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/livingplanetaquarium/2014-03-17 17.47.24.jpg">
  <img src="photos/livingplanetaquarium/2014-03-17 17.47.24.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/livingplanetaquarium/2014-03-17 17.47.30.jpg">
  <img src="photos/livingplanetaquarium/2014-03-17 17.47.30.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/livingplanetaquarium/2014-03-17 17.49.50.jpg">
  <img src="photos/livingplanetaquarium/2014-03-17 17.49.50.jpg"/>
</a>
</div>
<div class="flex"><a href="photos/livingplanetaquarium/2014-03-17 18.43.30.jpg">
  <img src="photos/livingplanetaquarium/2014-03-17 18.43.30.jpg"/>
</a>
</div>
</div>
