<div class="text"><h3>Utah Eccles Performing Arts Center</h3><p>We at Spray-On Solutions are proud of the the fireproofing and intumescent paint work we did to provide passive fire protection for the Eccles Performing Arts Center in downtown Salt Lake City, Utah.</p>
</div>
<div class="flexbox">
<div class="flex">
  <img src="photos/Utah performing arts/fireproofing/20161007_194346.jpg"/>
</div>
<div class="flex"><a ui-sref="performingarts">
  <img src=""/><h3>Utah Eccles Performing Arts Center</h3>
</a>
</div>
<div class="flex"><a ui-sref="performingarts">
  <img src="photos/Utah performing arts/fireproofing/20161007_195340.jpg"/><h3>Utah Eccles Performing Arts Center</h3>
</a>
</div>
<div class="flex"><a ui-sref="performingarts">
  <img src="photos/Utah performing arts/fireproofing/20161007_194346.jpg"/><h3>Utah Eccles Performing Arts Center</h3>
</a>
</div>
<div class="flex"><a ui-sref="performingarts">
  <img src="photos/Utah performing arts/fireproofing/20161007_194346.jpg"/><h3>Utah Eccles Performing Arts Center</h3>
</a>
</div>
