<div class="parallax">
  <div class="caption">
    <p><span class="border">Spray-On Solutions</span></p>
    <p><span class="border1">(435)884-6708</span></p>
    <p><span class="border2">Serving Utah, Idaho, Colorado and Wyoming</span></p>
  </div>
</div>
<div class="portfoliopage">
<h3>A Sampling Of Our Projects</h3>
<div class="flexbox">

  <div class="flex"><a ui-sref="performingarts">
    <img src="photos/Utah performing arts/fireproofing/20161007_194346.jpg"/><h3>Utah Eccles Performing Arts Center</h3>
  </a>
</div>

  <div class="flex"><a ui-sref="livingplanet">
    <img src="photos/livingplanetaquarium/2014-03-17 17.47.30.jpg"/><h3>Living Planet Aquarium</h3>
  </a>
</div>

  <div class="flex"><a ui-sref="jvhospital">
    <img src="photos/jvhospital/2015-06-03 11.19.17.jpg"/><h3>Jordan Valley Medical Center</h3>
  </a>
</div>

  <!-- <div class="flex"><a ui-sref="usurec">
    <img src="photos/usureccenter/2015-08-10 17.00.00.jpg"/><p>USU Rec Center</p>
  </a>
</div> -->

  <div class="flex"><a ui-sref="elizabeth">
    <img src="photos/elizabethacademymonoglassphotos/2013-07-12 11.14.34.jpg"/><h3>Elizabeth Academy</h3>
  </a>
</div>

</div>
<div class="parallax">
</DIV>
<div class="flexbox">
  <div class="flex"><a ui-sref="fireproofing">
    <img src="photos/Utah performing arts/fireproofing/20161007_194346.jpg"/><p>Fire Proofing Services</p>
  </a>
</div>
  <div class="flex"><a ui-sref="intumescent">
    <img src="photos/jvhospital/20141020_134908.jpg"/><p>Intumescent Paint</p>
  </a>
</div>
  <div class="flex"><a ui-sref="insulation">
    <img src="photos/livingplanetaquarium/2014-03-17 17.45.37.jpg"/><p>Acoustical Insulation</p>
  </a>
</div>
  <div class="flex"><a ui-sref="portfolio">
    <img src="photos/livingplanetaquarium/2014-03-17 18.43.30.jpg"/><p>Our Work</p>
  </a>
</div>
  <div class="flex"><a ui-sref="contact">
    <img src="photos/jvhospital/2015-06-03 11.16.52.jpg"/><p>Contact Us</p>
  </a>
</div>
</div>
</div>
<div class="text">
  <h3> Contact us at</h3>
  <h3><a ui-sref="contact">(435) 884-6708</a></h3><h4> or by email @ <a href="mailto:mike@sprayonsolutions.net">MIKE@SPRAYONSOLUTIONS.NET</a> </h4>
</div>
